body, html {
  margin: 0; padding: 0;
}

body {
  /*background-color: red;*/
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.hide {
  display: none;
}

/* dialog fade in */
.show-0 {
  animation: fadeIn 0.5s ease;
  animation-fill-mode: forwards; /*动画结束后效果保持在：forwards：最后的效果  backwards：初始效果*/
}

@keyframes fadeIn {
  0% { opacity: 0; z-index: -1; }
  100% { opacity: 1; z-index: 999; }
}

/* dialog fade out */
.show-1 {
  animation: fadeOut 0.5s ease;
  animation-fill-mode: forwards; /*动画结束后效果保持在：forwards：最后的效果  backwards：初始效果*/
}

@keyframes fadeOut {
  0% { opacity: 1; z-index: 999; }
  100% { opacity: 0; z-index: -1; }
}

#dialog {
  position: absolute;
  width: 25rem;
  height: 15rem;
  background-color: rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  margin: -7.5rem 0 0 -12.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0.02rem;
  overflow: hidden;
}

#dialog-head {
  position: relative;
  width: 100%;
  height: 20%;
  border-bottom: 1px solid gray;
}

#dialog-body {
  position: relative;
  width: 100%;
  height: 60%;
  border-bottom: 1px solid gray;
}

#dialog-footer {
  position: relative;
  height: 20%;
  width: 100%;
}

.dialog-button {
  display: inline-block;
  float: left;
  width: 50%;
  height: 100%;
  border: 0;
  outline: none;
  text-align: center;
  cursor: pointer;
  font-size: 1.5rem;
}

.dialog-button:hover {
  background-color: #c1c1c1;
}

.primary {
  background-color: #ccc;
  border-radius: 0 0 0 0.5rem;
}

.default {
  background-color: #e6e6e6;
  border-radius: 0 0 0.5rem 0;
}

button {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 5rem;
  height: 5rem;
  margin: -2.5rem 0 0 -2.5rem;
  border-radius: 50%;
  outline: none;
  border: 0;
  cursor: pointer;
}